.red {
	color:red;
}
.hide {
	display: none;
}
body {
	background-image: url('starwars.jpg');
	background-size: 100%;
}
.image {
	z-index: -1;
	position: absolute;
	height: 20%;
	width: 30%;
}
.modal {
	opacity:1;
}